<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ciifm.personal.admin.dao.UserDAO">
    <resultMap id="BaseResultMap" type="com.github.ciifm.personal.admin.dao.dataobject.UserDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="pass_word" property="passWord" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="locked" property="locked" jdbcType="TINYINT"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="CHAR"/>
    </resultMap>

    <sql id="BaseTable">
        user
    </sql>

    <sql id="BaseColumns">
        id,user_name,pass_word,nick_name,icon,salt,tel,email,locked,state,remark,creator,modifier,gmt_created,gmt_modified,is_deleted
    </sql>

    <select id="search" resultMap="BaseResultMap">
        select <include refid="BaseColumns" />
        from <include refid="BaseTable" />
    </select>

    <select id="findId" parameterType="java.lang.String" resultType="java.lang.Long" >
        select
        id
        from <include refid="BaseTable" />
        where user_name = #{username}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultMap="BaseResultMap" >
        select <include refid="BaseColumns" />
        from <include refid="BaseTable" />
        where user_name = #{username}
    </select>

    <select id="findByCondition" parameterType="java.lang.String" resultMap="BaseResultMap" >
        select <include refid="BaseColumns" />
        from <include refid="BaseTable" />
        where user_name = #{condition} or tel = #{condition} or email = #{condition}
    </select>

    <select id="findRoles" parameterType="java.lang.Long" resultType="com.github.ciifm.personal.admin.dao.dataobject.RoleDO" >
        select
        id,
        role_name roleName,
        remark,
        creator,
        modifier,
        gmt_created gmtCreated,
        gmt_modified gmtModified,
        is_deleted isDeleted
        from role
        where id in ( SELECT rid FROM user_role WHERE uid = #{id} )
    </select>

    <select id="findPerssions" parameterType="java.lang.Long" resultType="com.github.ciifm.personal.admin.dao.dataobject.PermissionDO"  >
        select
        id,
        name,
        parent_id parentId,
        level,
        parent_ids parentIds,
        resource_type resourceType,
        href,
        sort,
        permission,
        bg_color,
        icon,
        is_show isShow,
        creator,
        modifier,
        gmt_created gmtCreated,
        gmt_modified gmtModified,
        is_deleted isDeleted
        from permission where id in (SELECT DISTINCT pid FROM role_permission WHERE rid in (SELECT rid FROM user_role WHERE uid = #{id}))
    </select>
</mapper>